* {
  border: 1px solid red;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
}

.card-wrapper {
  max-width: 350px;
  margin: 2rem auto 10rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
}

.product-img-wrapper {
    width: 348px;
    height: 250px;
    background-image: url(./images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 5px;
    margin-bottom: 1rem;
    
}

.product-details {
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
}

h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Fraunces', Helvetica, serif;
    color: hsl(212, 21%, 14%);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    color: hsl(228, 12%, 48%);
    line-height: 1.5rem;
}

.price-wrapper {
    margin: 2rem auto 0;
}

.current-price {
    font-family: 'Fraunces', Helvetica, serif;
}